[submodule "src/third_party/SDL"]
	path = src/third_party/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "src/third_party/SDL_image"]
	path = src/third_party/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
